.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

    .menu-btn .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        transition: all 0.5s ease-out;
    }

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: visible;
}
    .menu-branding, .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    .menu-nav {
        margin: 0;
        padding: 0;
        background: #373737;
        list-style: none;
    }

    .menu-branding {
        background: #444;
    }